html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 20px;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*----------*/

body {
  font-family: noto sans tc;
  text-align: center;
}
.top-section {
  background-color: #223345;
  padding: 50px 0;
  margin-bottom: 50px;
}
h1 {
  color: #fff;
  font-weight: 500;
  font-size: 30px;
}
h2 {
  font-size: 22px;
  margin-bottom: 20px;
}
p {
  font-size: 20px;
  margin: 0 0 30px;
}

.signIn-section {
  padding: 50px 0;
}

form {
  display: inline-block;
  text-align: left;
  padding: 20px;
}

input,
button {
  margin: 10px 0;
  padding: 8px;
}
button {
  width: 100%;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

a {
  text-decoration: none;
  color: #007bff;
  font-size: 18px;
  display: block;
  margin-bottom: 60px;
}

a:hover {
  text-decoration: underline;
}

/*-------member 會員頁----------*/
.message-form {
  text-align: center;
}
.message-list {
  margin-top: 50px;
  padding: 50px 0;
  border-top: 1px solid #ccc;
}
.message-item {
  padding-bottom: 15px;
}
.message-author {
  font-weight: 600;
}
.delete-form {
  padding: 0;
  padding-left: 10px;
  border: none;
}
.delete-form button {
  margin: 0;
  width: 30px;
  height: 30px;
  background-color: #ccc;
}

.memberQuery {
  display: flex;
  gap: 10px;
}
.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
