<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>登入頁面</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>
</head>
<body>
    <div class="top-section">
        <h1>歡迎光臨，請註冊登入系統</h1>
    </div>
    <div class="signUp-section">
        <h2>註冊帳號</h2>
        <form action="/signup" method="post">
            <span style="margin-right: 10px;">姓名</span><input type="text" name="name"><br>
            <span style="margin-right: 10px;">帳號</span><input type="text" name="username"><br>
            <span style="margin-right: 10px;">密碼</span><input type="password" name="password"><br>
            <button type="submit">註冊</button>
        </form>
    </div>
    <div class="signIn-section">
        <h2>登入系統</h2>
        <form action="/signin" method="post">
            <span style="margin-right: 10px;">帳號</span><input type="text" name="username"><br>
            <span style="margin-right: 10px;">密碼</span><input type="password" name="password"><br>

            <button type="submit">登入</button>
        </form>
    </div>
</body>
</html>
